**/_minted/
**/_minted-*/
*.out
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.vrb
*.xml
*.snm
*.gz
*.toc
*.bbl-SAVE-ERROR
**/*_TeX_binder.*
**/*_results.mat

# Dynare-generated subfolders
**/+*/**
**/checksum
**/Output/**
**/graphs/**
**/identification/**
**/latex/**
**/model/**
**/metropolis/**
**/prior/**
**/gsa/**
**/modecheck/**
**/dime/**

# Generated graphics referenced by lecture sources
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_high_acceptance/graphs/MH_Autocorrelation_SE_eps_z.eps
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_high_acceptance/graphs/TracePlot_SE_eps_z.eps
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_low_acceptance/graphs/MH_Autocorrelation_SE_eps_z.eps
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_low_acceptance/graphs/TracePlot_SE_eps_z.eps
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_medium_acceptance/Output/RBC_medium_acceptance_PriorsAndPosteriors1.eps
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_medium_acceptance/graphs/MH_Autocorrelation_SE_eps_z.eps
!/Chapter_6_Bayesian_Estimation/Bayesian_Estimation/RBC_medium_acceptance/graphs/TracePlot_SE_eps_z.eps
!/Chapter_7_Identification/Identification/RBC_bayesian/identification/RBC_bayesian_ident_collinearity_prior_mean_1.eps
!/Chapter_7_Identification/Identification/RBC_bayesian/identification/RBC_bayesian_ident_collinearity_prior_mean_2.eps
!/Chapter_7_Identification/Identification/RBC_bayesian/identification/RBC_bayesian_ident_pattern_prior_mean_1.eps
!/Chapter_7_Identification/Identification/RBC_bayesian/identification/RBC_bayesian_ident_strength_prior_mean.eps
!/Chapter_7_Identification/Identification/RBC_bayesian/identification/RBC_bayesian_sensitivity_prior_mean.eps
!/Chapter_7_Identification/Identification/RBC_ident/identification/RBC_ident_ident_collinearity_prior_mean_1.eps
!/Chapter_7_Identification/Identification/RBC_ident/identification/RBC_ident_ident_collinearity_prior_mean_2.eps
!/Chapter_7_Identification/Identification/RBC_ident/identification/RBC_ident_ident_pattern_prior_mean_1.eps
!/Chapter_7_Identification/Identification/RBC_ident/identification/RBC_ident_ident_strength_prior_mean.eps
!/Chapter_7_Identification/Identification/RBC_ident/identification/RBC_ident_sensitivity_prior_mean.eps
!/Chapter_9_Method_of_Moments/Example/IRF/rbc_irf_matching/graphs/rbc_irf_matching_matched_irf_eps_g1.eps
!/Chapter_4_stoch_simul/Codes/RBC_IRF/graphs/RBC_IRF_IRF_eps_z.eps
!/Chapter_10_forecasting/examples/NK_linear_controlled_forecast/graphs/Conditional_forecast_Calibration_inom.eps
!/Chapter_10_forecasting/examples/NK_linear_controlled_forecast/graphs/Conditional_forecast_Calibration_y.eps
!/Chapter_10_forecasting/examples/rbc_basic_calib_smoother/graphs/c_forecast.eps
!/Chapter_10_forecasting/examples/rbc_basic_calib_smoother/graphs/forcst1.eps
!/Chapter_10_forecasting/examples/rbc_basic_forecast/graphs/forcst1.eps
!/Chapter_10_forecasting/examples/rbc_basic_forecast_varexo_det/graphs/forcst1.eps
!/Chapter_10_forecasting/examples/rbc_basic_pf_controlled_paths/graphs/SimulatedTrajectory_A.eps
!/Chapter_10_forecasting/examples/rbc_basic_pf_controlled_paths/graphs/SimulatedTrajectory_k.eps
!/Chapter_10_forecasting/examples/rbc_basic_posterior_forecast/Output/rbc_basic_posterior_forecast_MeanForecast_A.eps
!/Chapter_10_forecasting/examples/rbc_basic_posterior_forecast/Output/rbc_basic_posterior_forecast_PointForecast_A.eps
!/Chapter_10_forecasting/examples/rbc_basic_recursive_estimation_200/graphs/rbc_basic_recursive_estimation_RecursiveForecasts_1.eps
!/Chapter_12_forecasting/examples/NK_linear_controlled_forecast/graphs/Conditional_forecast_Calibration_inom.eps
!/Chapter_12_forecasting/examples/NK_linear_controlled_forecast/graphs/Conditional_forecast_Calibration_y.eps
!/Chapter_12_forecasting/examples/rbc_basic_forecast/graphs/forcst1.eps
!/Chapter_12_forecasting/examples/rbc_basic_forecast_varexo_det/graphs/forcst1.eps
/Chapter_4_stoch_simul/Codes/RBC_baseline
/Chapter_4_stoch_simul/Codes/RBC_IRF
/Chapter_4_stoch_simul/Codes/RBC_baseline.log
/Chapter_4_stoch_simul/Codes/RBC_IRF.log
/Chapter_5_Kalman_Filter_ML/Example/RBC_smoother
/Chapter_5_Kalman_Filter_ML/Example/RBC_smoother.log
*.synctex
Summer School Codes 2024
/Chapter_9_Method_of_Moments/Example/IRF/rbc_irf_matching/method_of_moments/rbc_irf_matching_mean.mat
/Chapter_9_Method_of_Moments/Example/IRF/rbc_irf_matching/method_of_moments/rbc_irf_matching_mh_mode.mat
/Chapter_9_Method_of_Moments/Example/IRF/rbc_irf_matching/method_of_moments/rbc_irf_matching_mode.mat
/Chapter_11_perfect_foresight/exercise-zlb.pdf
/Chapter_11_perfect_foresight/exercise-zlb.tex
/Chapter_6_Bayesian_Estimation/PS
